<div id="formCard" class="card">
    <div class="car-body">
      <h4>{{titleCard}}</h4>
    </div>
    <form id="formCliente" [formGroup]="form"  class="row">
      <div class="mb-3 col-12 col-md-12">
        <label for="nomeProduto" class="form-label">Nome do Produto:</label>
        <input type="text" class="form-control" id="nome"  formControlName="nomeProduto">
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="telefone" class="form-label">Tipo de Produto:</label>
        <input type="text" class="form-control" id="tipoProduto" formControlName="tipoProduto">
      </div>
      <div class="mb-3 col-12 col-md-6">
        <label for="valor" class="form-label">Valor do Produto:</label>
        <input type="number" class="form-control" id="valor" formControlName="valor">
      </div>
      <div class="col-12 col-md-12 d-flex justify-content-end">
        <button (click)="cadastrarProduto()" type="submit" class="btn btn-primary" style="width: auto;">Gravar</button>
      </div>
    </form>
  </div>