#listServicoRealizado {
    margin: 100px auto;


    a{
        background: rgb(232, 100, 244);
        border: rgb(232, 100, 244, 0.5);
    }

        th {
        color: rgb(255, 255, 255);
        font-weight: 500;
        }
}