<div id="formCard" class="card">
    <div class="car-body">
        <h4>{{titlePage}}</h4>
    </div>
    <form id="formCliente" [formGroup]="form" class="row">
        <div class="mb-3 col-12 col-md-12">
            <label for="tipoServico" class="form-label">Serviço:</label>
            <input type="text" class="form-control" id="tipoServico" formControlName="tipoServico">
        </div>
        <div class="mb-3 col-12 col-md-12">
            <label for="valor" class="form-label">Valor do Serviço:</label>
            <input type="number" class="form-control" id="valor" formControlName="valor">
        </div>
        <div class="col-12 col-md-12 d-flex justify-content-end">
            <button (click)="cadastrarServico()" type="submit" class="btn btn-primary"
                style="width: auto;">Gravar</button>
        </div>
    </form>
</div>