<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand textLogo" href="#"><img [src]="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/']" routerLinkActive="['active']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/list-cliente']" routerLinkActive="['active']">Cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/list-produto']" routerLinkActive="['active']">Produtos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/list-servico']" routerLinkActive="['active']">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/list-servico-realizado']" routerLinkActive="['active']">Serviço Realizado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/list-despesa']" routerLinkActive="['active']">Despesas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/list-movimentacao-diaria']" routerLinkActive="['active']">Movimentações Diárias</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>