#formCard {
    margin: 200px auto;
    width: 800px;
    background: none;
    padding: 20px;
    border: solid 1px rgb(232, 100, 244);
    box-shadow: 1px 2px 3px rgba(232, 100, 244, 0.5), -1px -2px 3px rgba(232, 100, 244, 0.5);

    h4 {
        color: rgb(255, 255, 255);
        margin: 10px 0 20px 0;
        font-weight: bold;
    }

    #formCliente {
        color: rgb(255, 255, 255);
        font-weight: 500;
    }

    button {
        background: rgb(232, 100, 244);
        border: 1px solid rgba(170, 76, 179, 0.5);
    }
}