<div id="formCard" class="card">
    <div class="car-body">
        <h4 class="text-center">{{titlePage}}</h4>
    </div>
    <form id="formCliente" [formGroup]="form" class="row">
        <div class="mb-3 col-12 col-md-12">
            <label for="cliente" class="form-label">Cliente:</label>
            <select id="cliente" class="form-select" formControlName="cliente" [(ngModel)]="clienteSelecionado">
                <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{cliente.nome}}</option>
            </select>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="servico" class="form-label">Serviço:</label>
            <select id="servico" class="form-select" formControlName="servico"
                [(ngModel)]="servicoSelecionado">
                <option *ngFor="let servico of servicos" [ngValue]="servico">{{servico.tipoServico}}</option>
            </select>
            <button (click)="inserirServico()" class="btn btn-primary" type="button" id="button-addon2">+</button>
            <table class="table mt-4 table-striped table-hover">
                <tbody>
                    <tr *ngFor="let servico of servicosUtilizados">
                        <td>
                            <span class="badge text-dark"
                                style="width: 100%; text-align: left;">{{servico.tipoServico}}</span>
                        </td>
                        <td>
                            <span class="badge text-dark"
                                style="width: 100%; text-align: center;">{{servico.valor | currency}}</span>
                        </td>
                        <td><i (click)="deletarServico()" style="cursor: pointer;"
                            class="bi bi-trash text-danger"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="produto" class="form-label">Produto:</label>
            <select id="produto" class="form-select" formControlName="produto" [(ngModel)]="produtoSelecionado">
                <option *ngFor="let produto of produtos" [ngValue]="produto">
                    {{produto.nomeProduto}}&nbsp;{{produto.tipoProduto}}</option>
            </select>
            <button (click)="inserirProduto()" class="btn btn-primary" type="button" id="button-addon2">+</button>
            <table class="table mt-4 table-striped table-hover">
                <tbody>
                    <tr *ngFor="let produto of produtosUltilizados">
                        <td>
                            <span class="badge text-dark"
                                style="width: 100%; text-align: left;">{{produto.nomeProduto}} - {{produto.tipoProduto}}</span>
                        </td>
                        <td>
                            <span class="badge text-dark"
                                style="width: 100%; text-align: center;">{{produto.valor | currency}}</span>
                        </td>
                        <td><i (click)="deletatProduto()" style="cursor: pointer;"
                            class="bi bi-trash text-danger"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="valor" class="form-label">Valor Total:</label>
            <input type="text" class="form-control" id="valor" formControlName="valor" [value]="calcularProdutosServicos() | currency">
        </div>
        <div class="mb-3 col-12 col-md-6">
            <label for="dataServicoRealizado" class="form-label">Data:</label>
            <input type="date" class="form-control" id="dataServicoRealizado" formControlName="dataServicoRealizado">
        </div>
        <div class="col-12 col-md-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" style="width: auto;"
                (click)="cadastraServicoRealiazado()">Gravar</button>
        </div>
    </form>
</div>



  <!-- somaTotal(){
    const todos = (this.produtosUltilizados.reduce((produto, valor) => produto += valor.valorProduto, 0) + this.servicosUtilizados.reduce((produto, valor) => produto += valor.valorServico, 0));
    return todos;
  } -->